n8n/workflow_crm_leads.json
{
  "name": "Destrava — CRM Lead Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "17777deb-5869-43da-9889-eeda1dac2254",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Destrava",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "17777deb-5869-43da-9889-eeda1dac2254"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-evento",
              "leftValue": "={{ $json.evento }}",
              "rightValue": "novo_lead",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-novo-lead",
      "name": "É novo_lead?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 360]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload canônico Destrava v2\nconst body = $input.first().json;\n\n// Suporte a payload aninhado (v2) e legado (raiz)\nconst lead        = body.lead || {};\nconst simulation  = body.simulation || {};\nconst context     = body.context || {};\nconst routing     = body.routing || {};\n\nconst id              = lead.id              || body.id              || null;\nconst nome            = lead.nome            || body.nome            || '';\nconst telefone        = lead.telefone        || body.telefone        || '';\nconst email           = lead.email           || body.email           || null;\nconst empresa         = lead.empresa         || body.empresa         || null;\nconst tipo_pessoa     = lead.tipo_pessoa     || body.tipo_pessoa     || 'pf';\nconst origem          = lead.origem          || body.source          || body.origem || 'site';\nconst produto         = lead.produto_interesse || body.produto       || null;\n\nconst valor_solicitado = simulation.valor_solicitado || body.valorSolicitado || null;\nconst prazo_meses      = simulation.prazo            || body.prazo           || null;\nconst parcela_estimada = simulation.parcela_estimada || null;\nconst taxa_estimada    = simulation.taxa_estimada    || null;\n\nconst utm_source   = context.utm_source   || null;\nconst utm_medium   = context.utm_medium   || null;\nconst utm_campaign = context.utm_campaign || null;\nconst pagina       = context.pagina       || '/simular';\n\n// Classificação automática de temperatura\nlet temperatura = 'frio';\nif (valor_solicitado >= 100000)  temperatura = 'quente';\nif (valor_solicitado >= 500000)  temperatura = 'urgente';\nif (origem === 'simulador_publico') temperatura = temperatura === 'frio' ? 'morno' : temperatura;\n\n// Score simples baseado em dados disponíveis\nlet score = 10;\nif (nome)             score += 15;\nif (telefone)         score += 20;\nif (email)            score += 10;\nif (empresa)          score += 10;\nif (valor_solicitado) score += 15;\nif (prazo_meses)      score += 10;\nif (utm_source)       score += 5;\nif (origem === 'simulador_publico') score += 5;\n\n// Linha recomendada\nlet linha_recomendada = null;\nif (tipo_pessoa === 'pj' || tipo_pessoa === 'empresa') {\n  if (valor_solicitado <= 150000) linha_recomendada = 'PRONAMPE';\n  else if (valor_solicitado <= 360000) linha_recomendada = 'ProCred 360';\n  else linha_recomendada = 'PEAC FGI';\n} else {\n  linha_recomendada = 'Crédito Pessoal';\n}\n\nreturn [{\n  json: {\n    id, nome, telefone, email, empresa, tipo_pessoa, origem, produto,\n    valor_solicitado, prazo_meses, parcela_estimada, taxa_estimada,\n    utm_source, utm_medium, utm_campaign, pagina,\n    temperatura, score_ia: score, linha_recomendada,\n    etapa_funil: 'novo',\n    status: 'novo',\n    updated_at: new Date().toISOString(),\n  }\n}];"
      },
      "id": "parse-enrich",
      "name": "Parsear e Enriquecer Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-id",
      "name": "Tem ID no banco?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 360]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "temperatura":       "={{ $json.temperatura }}",
            "score_ia":          "={{ $json.score_ia }}",
            "linha_recomendada": "={{ $json.linha_recomendada }}",
            "updated_at":        "={{ $json.updated_at }}"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "pg-update-crm",
      "name": "Atualizar CRM no PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 280],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_ID_CREDENCIAL",
          "name": "Destrava DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome":              "={{ $json.nome }}",
            "email":             "={{ $json.email }}",
            "telefone":          "={{ $json.telefone }}",
            "empresa":           "={{ $json.empresa }}",
            "tipo_pessoa":       "={{ $json.tipo_pessoa }}",
            "produto_interesse": "={{ $json.produto }}",
            "valor_solicitado":  "={{ $json.valor_solicitado }}",
            "prazo_meses":       "={{ $json.prazo_meses }}",
            "origem":            "={{ $json.origem }}",
            "status":            "novo",
            "etapa_funil":       "novo",
            "temperatura":       "={{ $json.temperatura }}",
            "score_ia":          "={{ $json.score_ia }}",
            "linha_recomendada": "={{ $json.linha_recomendada }}",
            "created_at":        "={{ $json.updated_at }}",
            "updated_at":        "={{ $json.updated_at }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "pg-insert-lead",
      "name": "Inserir Lead (fallback)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 460],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_ID_CREDENCIAL",
          "name": "Destrava DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-temp",
              "leftValue": "={{ $json.temperatura }}",
              "rightValue": "frio",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-notificar",
      "name": "Temperatura > frio?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 360]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst moeda = (v) => v ? `R$ ${Number(v).toLocaleString('pt-BR')}` : 'Não informado';\nconst temp_emoji = { urgente: '🔥', quente: '⚡', morno: '🌡️', frio: '❄️' };\n\nconst msg = [\n  `${temp_emoji[d.temperatura] || '📋'} *Novo Lead — ${d.temperatura?.toUpperCase()}*`,\n  ``,\n  `👤 *Nome:* ${d.nome || 'Não informado'}`,\n  `📱 *Telefone:* ${d.telefone || 'Não informado'}`,\n  d.email    ? `📧 *Email:* ${d.email}` : null,\n  d.empresa  ? `🏢 *Empresa:* ${d.empresa}` : null,\n  ``,\n  `💰 *Valor:* ${moeda(d.valor_solicitado)}`,\n  d.prazo_meses ? `📅 *Prazo:* ${d.prazo_meses} meses` : null,\n  d.linha_recomendada ? `📦 *Linha:* ${d.linha_recomendada}` : null,\n  ``,\n  `📊 *Score IA:* ${d.score_ia}/100`,\n  `🌐 *Origem:* ${d.origem}`,\n  d.utm_source ? `🔗 *UTM:* ${d.utm_source}` : null,\n  ``,\n  `🔗 https://destravacredito.com/colaborador/crm`,\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { ...d, mensagem_whatsapp: msg } }];"
      },
      "id": "montar-mensagem",
      "name": "Montar Mensagem WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.whatsapp.com/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $vars.WHATSAPP_NUMBER || '556135268355' }}" },
            { "name": "text",  "value": "={{ $json.mensagem_whatsapp }}" }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-notify",
      "name": "Notificar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "notes": "Substitua este nó pelo nó Evolution API ou WhatsApp Business conforme sua integração"
    }
  ],
  "connections": {
    "Webhook Destrava": {
      "main": [
        [
          { "node": "Responder OK",  "type": "main", "index": 0 },
          { "node": "É novo_lead?",  "type": "main", "index": 0 }
        ]
      ]
    },
    "É novo_lead?": {
      "main": [
        [{ "node": "Parsear e Enriquecer Lead", "type": "main", "index": 0 }]
      ]
    },
    "Parsear e Enriquecer Lead": {
      "main": [
        [{ "node": "Tem ID no banco?", "type": "main", "index": 0 }]
      ]
    },
    "Tem ID no banco?": {
      "main": [
        [{ "node": "Atualizar CRM no PostgreSQL", "type": "main", "index": 0 }],
        [{ "node": "Inserir Lead (fallback)",     "type": "main", "index": 0 }]
      ]
    },
    "Atualizar CRM no PostgreSQL": {
      "main": [
        [{ "node": "Temperatura > frio?", "type": "main", "index": 0 }]
      ]
    },
    "Inserir Lead (fallback)": {
      "main": [
        [{ "node": "Temperatura > frio?", "type": "main", "index": 0 }]
      ]
    },
    "Temperatura > frio?": {
      "main": [
        [{ "node": "Montar Mensagem WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Montar Mensagem WhatsApp": {
      "main": [
        [{ "node": "Notificar WhatsApp", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [{ "name": "destrava" }]
}
