n8n/workflow_crm_qualificacao_captadores.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-qualificacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "495c8b94-5059-4760-b29f-cbdfe96d14c7",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -9376,
        2336
      ],
      "webhookId": "01aabba0-ca52-4fe8-bd46-f01a19e5854e"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst eventType = body.event || body.message_type || 'unknown';\nconst messageId = body.id || body.message_id || null;\nconst conversationId = body.conversation?.id || body.conversation_id || null;\nconst accountId = body.account?.id || body.account_id || null;\nconst content = body.content || body.message?.content || '';\nconst attachments = body.attachments || body.message?.attachments || [];\n\nlet tipoConteudo = 'texto';\nlet conteudoFinal = content;\nlet mediaUrl = null;\n\nif (attachments && attachments.length > 0) {\n  const att = attachments[0];\n  const fileType = att.file_type || att.content_type || '';\n  if (fileType.includes('audio') || att.data_url?.includes('audio')) {\n    tipoConteudo = 'audio';\n    mediaUrl = att.data_url || att.file_url || null;\n    conteudoFinal = content || '[Áudio recebido]';\n  } else if (fileType.includes('image') || att.data_url?.includes('image')) {\n    tipoConteudo = 'imagem';\n    mediaUrl = att.data_url || att.file_url || null;\n    conteudoFinal = content || '[Imagem recebida]';\n  } else {\n    tipoConteudo = 'documento';\n    mediaUrl = att.data_url || att.file_url || null;\n    conteudoFinal = content || '[Documento recebido]';\n  }\n}\n\nconst rawPhone = body.meta?.sender?.phone_number\n  || body.conversation?.meta?.sender?.phone_number\n  || body.sender?.phone_number\n  || body.contact?.phone_number\n  || '';\n\n// ✅ CORREÇÃO: normalização robusta para E.164 sem +\nlet telefone = rawPhone.replace(/\\D/g, ''); // remove +, espaços, parênteses, hífen\n\n// Se veio com 55 na frente mas tem 13 dígitos (55 + 11), está correto\n// Se tem 11 dígitos (DDD + número), adiciona 55\nif (telefone.length === 11 && !telefone.startsWith('55')) {\n  telefone = '55' + telefone;\n// Se tem 10 dígitos (DDD + número sem 9), adiciona 55\n} else if (telefone.length === 10 && !telefone.startsWith('55')) {\n  telefone = '55' + telefone;\n// ✅ NOVO: Se tem 13 dígitos começando com 55 mas com dígito 9 duplicado (ex: 5561981889041 → ok)\n} else if (telefone.length === 13 && telefone.startsWith('55')) {\n  // já está correto, mantém\n  telefone = telefone;\n// ✅ NOVO: Se ainda assim ficou com comprimento errado, tenta recompor\n} else if (telefone.length > 13) {\n  // pega os últimos 13 dígitos (caso venha com código de país duplo)\n  telefone = telefone.slice(-13);\n  if (!telefone.startsWith('55')) telefone = '55' + telefone.slice(-11);\n}\n\nconst telefoneValido = telefone.length >= 12 && telefone.length <= 13;\n\n// ✅ NOVO: também normaliza para salvar no banco consistentemente\n// Garante que o telefone gerado pelo simulador/site também bata com o do WhatsApp\nconst telefoneNormalizado = telefone; // já está em formato E.164 sem +\n\nconst nomeContato = body.meta?.sender?.name\n  || body.conversation?.meta?.sender?.name\n  || body.sender?.name\n  || body.contact?.name\n  || 'Desconhecido';\n\nconst temConteudo = (conteudoFinal && conteudoFinal.trim().length > 0) || attachments.length > 0;\nconst isInbound = body.message_type === 'incoming' || body.message_type === undefined;\n\nconst eventId = messageId\n  ? `msg_${messageId}`\n  : `evt_${conversationId}_${Date.now()}_${Math.random().toString(36).substr(2,6)}`;\n\nreturn [{\n  json: {\n    eventId,\n    eventType,\n    messageId,\n    conversationId,\n    accountId,\n    telefone: telefoneNormalizado,\n    telefoneValido,\n    nomeContato,\n    conteudo: conteudoFinal,\n    tipoConteudo,\n    mediaUrl,\n    temConteudo,\n    isInbound,\n    rawBody: body\n  }\n}];"
      },
      "id": "51f5587f-edab-4002-8219-3823940d7a84",
      "name": "Extrair Info (Robusto)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9168,
        2336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\", \"reason\": \"no_processable_content\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aa71e442-78c5-4c84-9e39-873a03999500",
      "name": "Ignorar (sem conteúdo)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -8720,
        2528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_eventos_webhook (\n  event_id,\n  origem,\n  tipo_evento,\n  payload,\n  status_processamento,\n  created_at\n)\nVALUES (\n  '{{ $json.eventId }}',\n  'chatwoot',\n  '{{ $json.eventType }}',\n  '{{ JSON.stringify($json.rawBody).replace(/'/g, \"''\") }}'::jsonb,\n  'pendente',\n  NOW()\n)\nON CONFLICT (event_id) DO NOTHING\nRETURNING id, event_id, (xmax = 0) AS is_new;",
        "options": {}
      },
      "id": "614a261d-93ab-47a5-a8c7-5db5f34da8ca",
      "name": "Registrar Evento (Idempotência)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -8720,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// FIX BUG 1: Normaliza saída do Registrar Evento para lidar com:\n// - Tabela não existente (erro → json sem is_new)\n// - ON CONFLICT DO NOTHING sem retorno (duplicado legítimo)\n// - INSERT bem-sucedido (retorna id + is_new=true)\n\nconst result = $input.first().json;\nconst eventIdOrigem = $('Extrair Info (Robusto)').first().json.eventId;\n\n// Se tem id no retorno → INSERT funcionou → evento novo\nif (result.id != null) {\n  return [{ json: { ...result, is_new: true } }];\n}\n\n// Se tem error mas a tabela não existe → tratar como novo (não bloquear)\nif (result.error || result.message) {\n  // Tabela pode não existir ainda → deixa passar como novo\n  return [{ json: { id: null, event_id: eventIdOrigem, is_new: true, table_missing: true } }];\n}\n\n// Sem id e sem erro → ON CONFLICT DO NOTHING acionou → duplicado real\nreturn [{ json: { id: null, event_id: eventIdOrigem, is_new: false } }];"
      },
      "id": "2f79e236-5c54-47a9-966f-9e87b33716bd",
      "name": "Normalizar Resultado Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8496,
        2336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-evento-novo",
              "leftValue": "={{ $json.is_new }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ac93e90-5890-40af-bd9d-8eb197c87ead",
      "name": "Evento novo? (Deduplicação)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8272,
        2336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"deduplicated\", \"event_id\": \"{{ $('Extrair Info (Robusto)').item.json.eventId }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "90baf058-ce03-4867-be18-fbd7cdd941f9",
      "name": "Resposta (Duplicado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -8064,
        2528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH lead_encontrado AS (\n  SELECT\n    id,\n    nome,\n    email,\n    status,\n    score_ia,\n    etapa_funil,\n    temperatura\n  FROM leads\n  WHERE telefone = '{{ $('Extrair Info (Robusto)').item.json.telefone }}'\n  ORDER BY updated_at DESC NULLS LAST, created_at DESC NULLS LAST\n  LIMIT 1\n)\nSELECT * FROM lead_encontrado\n\nUNION ALL\n\nSELECT\n  NULL::uuid    AS id,\n  NULL::text    AS nome,\n  NULL::text    AS email,\n  NULL::text    AS status,\n  NULL::integer AS score_ia,\n  NULL::text    AS etapa_funil,\n  NULL::text    AS temperatura\nWHERE NOT EXISTS (SELECT 1 FROM lead_encontrado);",
        "options": {}
      },
      "id": "ecc2c95c-4131-4ea3-bded-26a3541b8290",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -7168,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-lead-existe",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e81ff3d2-e517-4817-a278-bc40fec65750",
      "name": "Lead existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -6944,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET\n  nome = COALESCE(NULLIF('{{ ($('Extrair Info (Robusto)').item.json.nomeContato || '').replace(/'/g, \"''\") }}', 'Desconhecido'), nome),\n  updated_at = NOW()\nWHERE telefone = '{{ $('Extrair Info (Robusto)').item.json.telefone }}'\nRETURNING id, nome, status, score_ia, etapa_funil, temperatura;",
        "options": {}
      },
      "id": "84edb8c5-754f-410b-9e38-06f533f8a259",
      "name": "Atualizar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6720,
        2224
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- FIX BUG 2: SQL corrigido para INSERT em leads (estava inserindo em crm_conversas)\nINSERT INTO leads (\n  telefone,\n  nome,\n  origem,\n  canal_origem,\n  status,\n  etapa_funil,\n  temperatura,\n  score_ia,\n  created_at,\n  updated_at\n)\nVALUES (\n  '{{ $('Extrair Info (Robusto)').item.json.telefone }}',\n  '{{ ($('Extrair Info (Robusto)').item.json.nomeContato || 'Desconhecido').replace(/'/g, \"''\") }}',\n  'whatsapp',\n  'whatsapp',\n  'novo',\n  'novo',\n  'frio',\n  0,\n  NOW(),\n  NOW()\n)\nON CONFLICT (telefone) DO UPDATE\nSET\n  nome = COALESCE(NULLIF(EXCLUDED.nome, 'Desconhecido'), leads.nome),\n  updated_at = NOW()\nRETURNING id, nome, status, score_ia, etapa_funil, temperatura;",
        "options": {}
      },
      "id": "0b00f1ed-5cbb-4e36-b722-b9c5172be12b",
      "name": "Criar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6720,
        2432
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_conversas (\n  lead_id,\n  canal,\n  canal_id_externo,\n  status,\n  ultima_interacao_em,\n  created_at,\n  updated_at\n)\nSELECT\n  l.id,\n  'whatsapp',\n  '{{ $('Extrair Info (Robusto)').item.json.conversationId }}',\n  'aberta',\n  NOW(),\n  NOW(),\n  NOW()\nFROM leads l\nWHERE l.telefone = '{{ $('Extrair Info (Robusto)').item.json.telefone }}'\nORDER BY l.updated_at DESC NULLS LAST\nLIMIT 1\nON CONFLICT (canal_id_externo) DO UPDATE\nSET\n  ultima_interacao_em = NOW(),\n  updated_at = NOW()\nRETURNING id, lead_id, canal_id_externo;",
        "options": {}
      },
      "id": "efa34c46-78ce-4ff7-8ace-a5aa09ae1465",
      "name": "Upsert Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6496,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_mensagens (\n  conversa_id,\n  message_id_externo,\n  direcao,\n  remetente_tipo,\n  remetente_id,\n  tipo_conteudo,\n  conteudo,\n  metadados,\n  status_envio,\n  created_at\n)\nSELECT\n  c.id,\n  '{{ $('Extrair Info (Robusto)').item.json.messageId }}',\n  'inbound',\n  'cliente',\n  '{{ $('Extrair Info (Robusto)').item.json.telefone }}',\n  '{{ $('Extrair Info (Robusto)').item.json.tipoConteudo }}',\n  '{{ ($('Extrair Info (Robusto)').item.json.conteudo || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify({ mediaUrl: $('Extrair Info (Robusto)').item.json.mediaUrl, conversationId: $('Extrair Info (Robusto)').item.json.conversationId }).replace(/'/g, \"''\") }}'::jsonb,\n  'entregue',\n  NOW()\nFROM crm_conversas c\nWHERE c.canal_id_externo = '{{ $('Extrair Info (Robusto)').item.json.conversationId }}'\nLIMIT 1\nON CONFLICT (message_id_externo) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "3dbfb8be-404b-410f-b8ef-5620c18e7aca",
      "name": "Persistir Mensagem (Inbound)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6272,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- FIX BUG 3: Substituída chamada de função inexistente por INSERT direto em crm_atividades\nINSERT INTO crm_atividades (\n  lead_id,\n  tipo,\n  titulo,\n  descricao,\n  origem_ia,\n  concluido,\n  created_at\n)\nVALUES (\n  '{{ $('Upsert Conversa').item.json.lead_id }}'::uuid,\n  'whatsapp',\n  '{{ $('Extrair Info (Robusto)').item.json.tipoConteudo }} recebido via WhatsApp',\n  '{{ ($('Extrair Info (Robusto)').item.json.conteudo || '').replace(/'/g, \"''\").substring(0, 500) }}',\n  false,\n  true,\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "763d5d54-d772-40b6-9824-3b7f6337839b",
      "name": "Registrar Atividade CRM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6048,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.conteudo,\n  m.direcao,\n  m.created_at\nFROM crm_mensagens m\nWHERE m.conversa_id = '{{ $('Upsert Conversa').first().json.id }}'::uuid\n  AND m.tipo_conteudo IN ('texto', 'audio')\nORDER BY m.created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "206b4227-556d-4aff-936b-f74e7dd555dd",
      "name": "Buscar Histórico (crm_mensagens)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -5824,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const upsertConversa = $('Upsert Conversa').first().json;\nconst mensagens = $input.all();\n\nlet leadInfo = {};\ntry {\n  leadInfo = $('Atualizar Lead').first().json;\n} catch (e) {\n  try {\n    leadInfo = $('Criar Lead').first().json;\n  } catch (e2) {\n    leadInfo = {};\n  }\n}\n\nconst leadId = upsertConversa.lead_id;\n\nconst historico = mensagens\n  .filter(m => m.json && m.json.conteudo)\n  .reverse()\n  .map(m => `[${m.json.direcao === 'inbound' ? 'Cliente' : 'Agente'}]: ${m.json.conteudo}`)\n  .join('\\n');\n\nconst prompt = `Você é um analista de crédito especialista. Analise a conversa abaixo e retorne APENAS um JSON válido, sem markdown, sem explicações.\n\nLEAD ATUAL:\n- ID: ${leadId}\n- Nome: ${leadInfo.nome || 'Desconhecido'}\n- Status atual: ${leadInfo.status || 'novo'}\n- Etapa atual: ${leadInfo.etapa_funil || 'novo'}\n- Score atual: ${leadInfo.score_ia || 0}\n\nHISTÓRICO DA CONVERSA (mais recente por último):\n${historico || 'Sem histórico disponível'}\n\nRetorne EXATAMENTE este JSON (sem markdown):\n{\n  \"score\": <número 0-100>,\n  \"temperatura\": <\"frio\"|\"morno\"|\"quente\"|\"urgente\">,\n  \"etapa_sugerida\": <\"novo\"|\"contato_feito\"|\"qualificado\"|\"proposta_enviada\"|\"negociacao\"|\"documentacao\"|\"aprovacao\"|\"ganho\"|\"perdido\">,\n  \"resumo\": <\"resumo em 1-2 frases do perfil do lead\">,\n  \"proxima_acao\": <\"próxima ação recomendada\">,\n  \"probabilidade_conversao\": <número 0-100>,\n  \"documentos_faltando\": [],\n  \"pontos_positivos\": [],\n  \"pontos_atencao\": [],\n  \"nome_identificado\": null,\n  \"empresa_identificada\": null,\n  \"produto_interesse\": null,\n  \"valor_estimado\": null\n}`;\n\nreturn [{ json: { prompt, leadId, leadInfo } }];"
      },
      "id": "c7bf8ddb-c345-4877-a99a-5013d19e44b3",
      "name": "Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5600,
        2336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": []
        }
      },
      "id": "da63b6ae-f753-48b3-a9cf-ea0de3309498",
      "name": "Qualificar com IA (Chain)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -5424,
        2336
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "d6e63ff5-9f87-4488-ae16-ac3a5e41f57a",
      "name": "Qualificar com Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5392,
        2496
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "utglXGgdfvIxw8T7",
          "name": "gemini-ia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.text || $input.first().json.content || '';\n\nconst cleaned = rawText\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (e2) {\n      parsed = {\n        score: 0, temperatura: 'frio', etapa_sugerida: 'novo',\n        resumo: 'Erro ao parsear resposta da IA',\n        proxima_acao: 'Revisar manualmente',\n        probabilidade_conversao: 0,\n        documentos_faltando: [], pontos_positivos: [],\n        pontos_atencao: ['Erro no processamento da IA'],\n        nome_identificado: null, empresa_identificada: null,\n        produto_interesse: null, valor_estimado: null\n      };\n    }\n  } else {\n    parsed = {\n      score: 0, temperatura: 'frio', etapa_sugerida: 'novo',\n      resumo: 'Sem resposta da IA',\n      proxima_acao: 'Revisar manualmente',\n      probabilidade_conversao: 0,\n      documentos_faltando: [], pontos_positivos: [],\n      pontos_atencao: ['Sem resposta da IA'],\n      nome_identificado: null, empresa_identificada: null,\n      produto_interesse: null, valor_estimado: null\n    };\n  }\n}\n\nreturn [{ json: { ...parsed, leadId: $('Montar Prompt').item.json.leadId } }];"
      },
      "id": "bad6b326-ef28-47e2-9818-fe9cfde0fbd3",
      "name": "Parsear JSON da IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_qualificacoes_ia (\n  lead_id,\n  score,\n  temperatura,\n  etapa_sugerida,\n  resumo,\n  proxima_acao,\n  pontos_positivos,\n  pontos_atencao,\n  documentos_faltando,\n  probabilidade_conv,\n  modelo_ia,\n  created_at\n)\nVALUES (\n  '{{ $json.leadId }}'::uuid,\n  {{ $json.score || 0 }},\n  '{{ (($json.temperatura || \"frio\") + \"\").toLowerCase() }}',\n  '{{ (($json.etapa_sugerida || \"novo\") + \"\").toLowerCase() }}',\n  '{{ (($json.resumo || \"\") + \"\").replace(/'/g, \"''\") }}',\n  '{{ (($json.proxima_acao || \"\") + \"\").replace(/'/g, \"''\") }}',\n  ARRAY(SELECT jsonb_array_elements_text('{{ JSON.stringify($json.pontos_positivos || []) }}'::jsonb)),\n  ARRAY(SELECT jsonb_array_elements_text('{{ JSON.stringify($json.pontos_atencao || []) }}'::jsonb)),\n  ARRAY(SELECT jsonb_array_elements_text('{{ JSON.stringify($json.documentos_faltando || []) }}'::jsonb)),\n  {{ $json.probabilidade_conversao || 0 }},\n  'gemini',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "9443ca18-dda7-446f-9679-9fee5a4c5a62",
      "name": "Salvar Qualificação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4944,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET\n  score_ia = {{ $('Parsear JSON da IA').item.json.score || 0 }},\n  temperatura = '{{ (($('Parsear JSON da IA').item.json.temperatura || \"frio\") + \"\").toLowerCase() }}',\n  etapa_funil = CASE\n    WHEN {{ $('Parsear JSON da IA').item.json.score || 0 }} >= 60\n    THEN '{{ (($('Parsear JSON da IA').item.json.etapa_sugerida || \"novo\") + \"\").toLowerCase() }}'\n    ELSE etapa_funil\n  END,\n  nome = COALESCE(\n    NULLIF('{{ (($('Parsear JSON da IA').item.json.nome_identificado || \"\") + \"\").replace(/'/g, \"''\") }}', ''),\n    nome\n  ),\n  empresa = COALESCE(\n    NULLIF('{{ (($('Parsear JSON da IA').item.json.empresa_identificada || \"\") + \"\").replace(/'/g, \"''\") }}', ''),\n    empresa\n  ),\n  produto_interesse = COALESCE(\n    NULLIF('{{ (($('Parsear JSON da IA').item.json.produto_interesse || \"\") + \"\").replace(/'/g, \"''\") }}', ''),\n    produto_interesse\n  ),\n  updated_at = NOW()\nWHERE id = '{{ $('Parsear JSON da IA').item.json.leadId }}'::uuid\nRETURNING id, nome, score_ia, temperatura, etapa_funil;",
        "options": {}
      },
      "id": "2469bb2e-d260-40e7-9750-83f883252403",
      "name": "Enriquecer Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4720,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_eventos_webhook\nSET\n  status_processamento = 'processado',\n  processado_em = NOW()\nWHERE event_id = '{{ $('Extrair Info (Robusto)').item.json.eventId }}';",
        "options": {}
      },
      "id": "33516ca7-d754-4209-91ed-637060b3e7f4",
      "name": "Marcar Evento Processado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4496,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-lead-quente",
              "leftValue": "={{ $('Parsear JSON da IA').item.json.temperatura }}",
              "rightValue": "frio",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-score-alto",
              "leftValue": "={{ $('Parsear JSON da IA').item.json.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "470c2454-5bb9-455c-aa0e-eb39c35ee5d3",
      "name": "Lead quente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4272,
        2336
      ]
    },
    {
      "parameters": {
        "chatId": "SEU_CHAT_ID_TELEGRAM",
        "text": "=*Lead {{ $('Parsear JSON da IA').item.json.temperatura === 'urgente' ? 'URGENTE' : 'Quente' }}!*\n\nNome: {{ $('Enriquecer Lead').item.json.nome || 'Desconhecido' }}\nTelefone: {{ $('Extrair Info (Robusto)').item.json.telefone }}\nEmpresa: {{ $('Parsear JSON da IA').item.json.empresa_identificada || 'N/A' }}\nProduto: {{ $('Parsear JSON da IA').item.json.produto_interesse || 'N/A' }}\n\nScore IA: {{ $('Parsear JSON da IA').item.json.score }}/100\nTemperatura: {{ $('Parsear JSON da IA').item.json.temperatura }}\nEtapa: {{ $('Enriquecer Lead').item.json.etapa_funil }}\n\nPróxima Ação: {{ $('Parsear JSON da IA').item.json.proxima_acao }}\n\nhttps://destrava.permupay.com.br/colaborador/crm",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "96ac2ac2-0ab4-4ec3-a1b9-4c98f5003b2e",
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4048,
        2224
      ],
      "webhookId": "2bb1faf6-ec7a-465e-8d98-9474cc80acae",
      "credentials": {
        "telegramApi": {
          "id": "dJJpJq7jR2M2BZ81",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', event_id: $('Extrair Info (Robusto)').item.json.eventId, lead_id: $('Parsear JSON da IA').item.json.leadId, score: $('Parsear JSON da IA').item.json.score }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fc0cc759-c1d8-4804-ad98-9a7b1a4f71fa",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4064,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "const eventId = $('Extrair Info (Robusto)').item?.json?.eventId || 'unknown';\nconst errorMessage = $input.first().json.error?.message\n  || $input.first().json.message\n  || JSON.stringify($input.first().json)\n  || 'Erro desconhecido';\n\nreturn [{ json: { eventId, errorMessage: errorMessage.substring(0, 500) } }];"
      },
      "id": "8848f68a-1035-40d8-b7bd-99ac27a264e9",
      "name": "Capturar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6496,
        2624
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_eventos_webhook\nSET\n  status_processamento = 'erro',\n  erro_detalhe = '{{ (($json.errorMessage || \"\") + \"\").replace(/'/g, \"''\") }}',\n  processado_em = NOW()\nWHERE event_id = '{{ $json.eventId }}';",
        "options": {}
      },
      "id": "7fecb33c-3074-4d09-9169-68e14d6e1145",
      "name": "Registrar Erro no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6288,
        2624
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"event_id\": \"{{ $('Capturar Erro').item.json.eventId }}\", \"message\": \"Erro registrado para auditoria\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "46b62eaa-6b63-4e98-be6c-91a649a353c7",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6064,
        2624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-tem-conteudo",
              "leftValue": "={{ $json.temConteudo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-is-inbound",
              "leftValue": "{{ $json.eventType }}",
              "rightValue": "message_outgoing",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-telefone-valido",
              "leftValue": "={{ $json.telefoneValido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "0ad88204-8711-42e4-b9eb-39fa107e7e7c",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "message_updated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "a9141f09-5b8b-46c1-bff8-ad176c8dc26d",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "conversation_typing_on",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e55c6259-7b70-4f90-9fe0-8426f9847a33",
      "name": "Tem conteúdo processável?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8976,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, cargo\nFROM colaboradores\nWHERE regexp_replace(COALESCE(telefone,''), '\\D', '', 'g') = '{{ $('Extrair Info (Robusto)').item.json.telefone }}'\n  AND lower(cargo) = 'captador'\n  AND ativo = true\nLIMIT 1;",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Verificar Captador",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -7840,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-e-captador",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "É Captador?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7616,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Captador: grava conversa sem lead_id e persiste mensagem\nWITH upsert_conv AS (\n  INSERT INTO crm_conversas (lead_id, canal, canal_id_externo, status, ultima_interacao_em, created_at, updated_at)\n  VALUES (\n    NULL,\n    'whatsapp',\n    '{{ $('Extrair Info (Robusto)').item.json.conversationId }}',\n    'aberta',\n    NOW(), NOW(), NOW()\n  )\n  ON CONFLICT (canal_id_externo) DO UPDATE\n    SET ultima_interacao_em = NOW(), updated_at = NOW()\n  RETURNING id, lead_id, canal_id_externo\n),\ninsert_msg AS (\n  INSERT INTO crm_mensagens (\n    conversa_id, message_id_externo, direcao, remetente_tipo,\n    remetente_id, tipo_conteudo, conteudo, metadados, status_envio, created_at\n  )\n  SELECT\n    c.id,\n    '{{ $('Extrair Info (Robusto)').item.json.messageId }}',\n    'inbound',\n    'captador',\n    '{{ $('Extrair Info (Robusto)').item.json.telefone }}',\n    '{{ $('Extrair Info (Robusto)').item.json.tipoConteudo }}',\n    '{{ ($('Extrair Info (Robusto)').item.json.conteudo || '').replace(/'/g, \"''\") }}',\n    '{\"captador\": true}'::jsonb,\n    'entregue',\n    NOW()\n  FROM upsert_conv c\n  ON CONFLICT (message_id_externo) DO NOTHING\n  RETURNING id\n)\nSELECT c.id AS conversa_id, c.lead_id, c.canal_id_externo\nFROM upsert_conv c;",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Upsert Conversa Captador",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -7392,
        2224
      ],
      "credentials": {
        "postgres": {
          "id": "Nlx7T3DkblSff8ga",
          "name": "testecollify"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'captador', event_id: $('Extrair Info (Robusto)').item.json.eventId, telefone: $('Extrair Info (Robusto)').item.json.telefone, message: 'Captador identificado — conversa gravada sem criar lead' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Resposta Captador",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -7168,
        2224
      ]
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Extrair Info (Robusto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Info (Robusto)": {
      "main": [
        [
          {
            "node": "Tem conteúdo processável?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Evento (Idempotência)": {
      "main": [
        [
          {
            "node": "Normalizar Resultado Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Resultado Evento": {
      "main": [
        [
          {
            "node": "Evento novo? (Deduplicação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento novo? (Deduplicação)": {
      "main": [
        [
          {
            "node": "Verificar Captador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta (Duplicado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Lead existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead existe?": {
      "main": [
        [
          {
            "node": "Atualizar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Lead": {
      "main": [
        [
          {
            "node": "Upsert Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Lead": {
      "main": [
        [
          {
            "node": "Upsert Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa": {
      "main": [
        [
          {
            "node": "Persistir Mensagem (Inbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir Mensagem (Inbound)": {
      "main": [
        [
          {
            "node": "Registrar Atividade CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Atividade CRM": {
      "main": [
        [
          {
            "node": "Buscar Histórico (crm_mensagens)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico (crm_mensagens)": {
      "main": [
        [
          {
            "node": "Montar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Prompt": {
      "main": [
        [
          {
            "node": "Qualificar com IA (Chain)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualificar com IA (Chain)": {
      "main": [
        [
          {
            "node": "Parsear JSON da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualificar com Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Qualificar com IA (Chain)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON da IA": {
      "main": [
        [
          {
            "node": "Salvar Qualificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Qualificação": {
      "main": [
        [
          {
            "node": "Enriquecer Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer Lead": {
      "main": [
        [
          {
            "node": "Marcar Evento Processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Evento Processado": {
      "main": [
        [
          {
            "node": "Lead quente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead quente?": {
      "main": [
        [
          {
            "node": "Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Telegram": {
      "main": [
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Erro": {
      "main": [
        [
          {
            "node": "Registrar Erro no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Erro no Banco": {
      "main": [
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem conteúdo processável?": {
      "main": [
        [
          {
            "node": "Registrar Evento (Idempotência)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar (sem conteúdo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Captador": {
      "main": [
        [
          {
            "node": "É Captador?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Captador?": {
      "main": [
        [
          {
            "node": "Upsert Conversa Captador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa Captador": {
      "main": [
        [
          {
            "node": "Resposta Captador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d2b035f02b9122fc389d7a8e4f05ed60573bb977bb5490f0b15193d6640e732"
  }
}